appname: ""

Slack:
  WebHookURL: "https://hooks.slack.com/services/"
  IsEnable: false

Email:
  SenderName: "***@gamil.com"
  SenderPassword: "*********"
  Host: "smtp.gmail.com"
  Port: 587
  IsEnable: false

DB:
  Driver: mysql
  UserName: root
  Password: 123456
  Host: 127.0.0.1
  Port: 3307
  Schema: latest_block_height

AlarmThreshold:
  Btc: 2
  Bch: 2
  Ltc: 2
  Eth: 3
  Etc: 3