appname: ""

slack:
  webhookurl: "https://hooks.slack.com/services/*****"
  isenable: true

email:
  sendername: "***@gamil.com"
  senderpassword: "*********"
  host: "smtp.gmail.com"
  port: 587
  isenable: true

explorerdatabase:
  general:
    read:
      name: "explorer:general:read"
      dsn: "root:123456@tcp(127.0.0.1:3306)/**"
    write:
      name: "explorer:general:write"
      dsn: "root:123456@tcp(127.0.0.1:3306)/**"

alarmthreshold:
  btc: 2
  bch: 2
  bsv: 2
  ltc: 2
  eth: 5

monitorexplorers:
  - "btc.com"

monitorcoins:
  - "btc"
  - "bch"
  - "ltc"
  - "bsv"
  - "eth"

interval: 60

health:
  port: 8080
  intervalseconds: 60